.field-container {
  display: flex;
  flex-wrap: wrap;
  cursor: url('../png/hammer.png'), auto;
}

.cell {
  background-color: yellow;
  width: 120px;
  height: 120px;
  margin: 2px;
}

.active {
  background-image: url('../png/goblin.png');
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 496px;
}

.gameover {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  color: white; 
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 496px;
}

.menu-count {
  font-size: 50px;
  width: 120px;
  text-align: center;
}

#menu-button {
  display: flex;
  width: 200px;
  height: 60px;
  background-color: darkblue;
  margin-bottom: 10px ;
  color: yellow;
  justify-content: space-around;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0;
  border: none;
}

#menu-button:hover {
  background-color: lightblue;
}

.score {
  color: green;
}

.goblin-appears {
  color: red;
}

